In [12]:
import pandas as pd

df = pd.read_csv(
    "../../../linux/git_timestamp_author_email.log", 
    sep="\t", 
    encoding='latin-1',
    header=None,
    names=['timestamp', 'offset', ]
)
df.head()

                                                           raw
1514760463 -0800 Linus Torvalds  torvalds@linux-foundation.org
1514754836 -0800 Linus Torvalds  torvalds@linux-foundation.org
1514754185 -0800 Linus Torvalds  torvalds@linux-foundation.org
1514752234 -0800 Linus Torvalds  torvalds@linux-foundation.org
1514752142 -0800 Linus Torvalds  torvalds@linux-foundation.org

In [8]:
df['raw'].str.split?

In [11]:
df['raw'].str.split("\t", expand=True)[0].str.split(" ",expand=True)

                 0      1
0       1514760463  -0800
1       1514754836  -0800
2       1514754185  -0800
3       1514752234  -0800
4       1514752142  -0800
5       1514752039  -0800
6       1514749644  -0800
7       1514748191  -0800
8       1514746630  -0800
9       1514746371  -0800
10      1514746205  -0800
11      1514746089  -0800
12      1514745967  -0800
13      1514745840  -0800
14      1514216338  +0100
15      1514745562  -0800
16      1514735535  +0100
17      1514715874  +0100
18      1514668434  +0100
19      1514668433  +0100
20      1514673090  -0800
21      1514666612  -0600
22      1514666611  -0600
23      1514657811  -0800
24      1514597683  -0800
25      1514595769  -0800
26      1513954275  +0100
27      1513954274  +0100
28      1513954273  +0100
29      1514407045  +0100
...            ...    ...
723686  1113690257  -0700
723687  1113690257  -0700
723688  1113690256  -0700
723689  1113690255  -0700
723690  1113690254  -0700
723691  1113690253  -0700
723692  1113690251  -0700
723693  1113690250  -0700
723694  1113690249  -0700
723695  1113690249  -0700
723696  1113690248  -0700
723697  1113690247  -0700
723698  1113690246  -0700
723699  1113690245  -0700
723700  1113690245  -0700
723701  1113690244  -0700
723702  1113690243  -0700
723703  1113690242  -0700
723704  1113690241  -0700
723705  1113690241  -0700
723706  1113690240  -0700
723707  1113690239  -0700
723708  1113690238  -0700
723709  1113690237  -0700
723710  1113690237  -0700
723711  1113690236  -0700
723712  1113690235  -0700
723713  1113690234  -0700
723714  1113690233  -0700
723715  1113690036  -0700

[723716 rows x 2 columns]